body {
    align-content: center;

}

img {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

button {
    width: 100%;
    height: 300px;
    background-color: green;
    font-size: larger;
    font-weight: bold;
}

div {
    text-align: center;
    font-size: large;
}